* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  justify-items: center;
}
.myTheatreBrand {
  background-color: #23062e;
  font-size: 24px;
  font-weight: bold;

  color: #fff;
}
body {
  background-color: #180320;
  color: antiquewhite;
}

.text-center {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 0.7rem;
  border-radius: 30%;

  cursor: pointer;
}

.watch-latest {
  margin-top: 20px;
}
.footer {
  margin-top: 5rem;
  justify-content: center;
  justify-items: center;
}
.head {
  margin-top: 5rem;
}

/* .Card {
  color: rgba(190, 190, 52, 0.658);
} */
